@use '../../styles/functions';

.content {
  padding-top: functions.spacing(4);
  padding-bottom: functions.spacing(4);
}

.gutter {
  padding-left: functions.spacing(4);
  padding-right: functions.spacing(4);
}
